@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "./utils/variables";
@import "./components/texts";
@import "./components/header";
@import "./components/footer";
@import "./components/modal";
@import "./components/service";
@import "./components/benefits";
@import "./components/what-we-do";
@import "./components/service";
@import "./components/team";
@import "./components/team-icons";
@import "./components/customers";
@import "./components/portfolio";
@import "./components/buttons";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
section {
  padding: 94px 0;
}
.container {
  
  padding: 0 15px;
  max-width: calc(480px - 500px);
  margin: 0 auto;
}
.page-container {
  max-width: calc(480px - 500px);
  padding: 0 15px;
  margin: 0 auto;
}
.no-top-pading {
  padding-top: 0;
}
@media screen and (min-width: 100px) {
  *{
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }
  
}
@media screen and (min-width: 480px) {
  *{
    overflow: visible;
  }
}
@media screen and (min-width: 768px) {
  *{
    -webkit-overflow-scrolling: touch;
    overflow: visible;

  }
  section {
    padding: 94px 0;
  }
  .container {
    padding: 0 15px;
    min-width: calc(768px - 50px);
    // min-width: 768px;
    margin: 0 auto;
  }
  .header__container {
    min-width: calc(768px - 50px);
    // min-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .foot__container {
    min-width: calc(768px - 50px);
    // min-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .no-top-pading {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  *{
    overflow: visible;
  }
  
    section {
      padding: 94px 0;
    }
    .container {
      padding: 0 15px;
      width: calc(1200px - 50px);
      margin: 0 auto;
    }
    .header__container {
      min-width: calc(1200px - 50px);
      padding: 0 15px;
      margin: 0 auto;
    }
    .foot__container {
      min-width: calc(1200px - 50px);
      padding: 0 15px;
      margin: 0 auto;
    }
    .no-top-pading {
      padding-top: 0;
    }
    
}
