.customers{
  transition-timing-function: $transition-timing-function;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  }
  .customers__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 1px $gray-2;
    border-radius: 5px;
    cursor: pointer;
    height: 92px;
    width: 170px;
    
    &:hover {
      border: solid 1px $accent-color;
      transition-timing-function: $transition-timing-function;
      transition: $transition;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .customers__icon{
    fill: $gray-2;
  }
  .customers__list:hover .customers__icon{
    fill: $accent-color;
    transition-timing-function: $transition-timing-function;
    transition: $transition;
  }
  