@media screen and (min-width: 768px) {
      footer {
        padding: 40px $container-padding;
        background-color: $background-black-2;
    }
    .foot__address{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
        width: auto;
    }
    .foot__logo  {
        color: $accent-color;
        font-family: "Raleway", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        color: $accent-color-hover;
      }
      
    .foot__list{
        list-style: none;
    }
    .foot__contact {
        display: block;
        color: $gray-2;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        text-decoration: none;
        padding: 1px 0;
        width: 200px;
        text-align: center;        
        &:hover {
            color: $primary-white-color;
            transition-timing-function: $transition-timing-function;
            transition: $transition;
        }
    }
    .foot__contact{
      align-items: center;
        justify-content: center;
        align-items: center;
        list-style: none;
        
    }
    .foot__find{
      width: auto;
      align-items: center;
      justify-content: center;
    }
    .foot__form{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
    }

    .formulary__label{
      color: $primary-white-color;
      font-weight: 700;
    }

    .formulary__input{
      width: 350px;
      height: 50px;
      padding-left: 15px;

      border-radius: 4px;
      background-color: $primary-white-10Perc;
      color: $primary-white-color;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .formulary__button{
      font-size: 16px;
      line-height: 30px;

      text-align: center;
      letter-spacing: 0.06em;
      padding: 10px 30px;
      margin-left: 10px;
      border: 0;
    }

    .send_ico{
      transform: translate(0%,30%);  
      fill: $primary-white-color;
    }

}

@media screen and (min-width: 1200px) {
  
    footer {
        padding: 40px $container-padding;
        background-color: $background-black-2;
    }
    footer .foot__container {
      display: flex;
      justify-content: center;
      gap: 80px;
    }
    .foot__address{
        width: auto;
    }
    .foot__logo  {
        justify-items: flex-start;
        color: $accent-color;
        font-family: "Raleway", sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        color: $accent-color-hover;
      }
      
    .foot__list{
        list-style: none;
        width: 200px;
    }
    .foot__contact {
        display: block;
        color: $gray-2;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        text-decoration: none;
        padding: 1px 0;
        width: auto;
        &:hover {
            color: $primary-white-color;
            transition-timing-function: $transition-timing-function;
            transition: $transition;
        }
    }
    .foot__contact{
      
        align-items: center;
        list-style: none;
        
    }
    .foot__find{
        width: auto;
    }
    .foot__form{
      width: auto;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
    }
    
    .formulary__label{
      color: $primary-white-color;
      font-weight: 700;
    }

    .formulary__input{
      width: 346px;
      height: 50px;
      align-items: center;
      padding-left: 15px;

      border-radius: 4px;
      background-color: $primary-white-10Perc;
      color: $primary-white-color;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .formulary__button{
      font-size: 16px;
      line-height: 30px;

      text-align: left;
      letter-spacing: 0.06em;
      padding: 10px 30px;
      margin-left: 10px;
      border: 0;
    }

    .send_ico{
      transform: translate(0%,30%);  
      fill: $primary-white-color;
    }

}
